Repository jdfalk/gcommon-proto, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:go, tech:protobuf, tech:grpc, tech:python, tech:shell, module:auth, module:cache, module:config, module:database, module:metrics, module:queue, module:web, project:gcommon-refactor, gcommon-refactor, project:protobuf-implementation, workflow:github-actions, github-actions, workflow:automation, automation

fix(buf): correct breaking rule FIELD_SAME_LABEL -> FIELD_SAME_CARDINALITY
  buf.yaml
Labels: tech:protobuf

ci(proto): replace multi-language CI with minimal buf-native CI
  .github/workflow-config.yaml
  .github/workflows/ci.yml
  .github/workflows/pr-automation.yml
  archive/README.md
  archive/workflows/security.yml
Labels: type:documentation, workflow:github-actions, github-actions

chore(archive): retire SDK-building machinery for the protos-only + BSR-pull model
  .github/workflow-config.yaml
  archive/README.md
  archive/docs/COSIGN_VERIFICATION.md
  archive/docs/GRAND_PROPOSAL.md
  archive/docs/README_old.md
  archive/docs/REPOSITORY_AUTOMATION.md
  archive/docs/compatibility-matrix.md
  archive/scripts/cleanup_bad_tags.py
  archive/scripts/cleanup_complex_tags.py
  archive/scripts/create-module-tags.py
  archive/scripts/fix_go_tagging.py
  archive/scripts/fix_malformed_tags.py
  archive/scripts/post-buf-generate.py
  archive/scripts/post-tag-hook.py
  archive/scripts/version_sync_manager.py
  archive/tooling/alltags
  archive/tooling/cosign.pub
  archive/tooling/protoc-32.1-linux-x86_64.zip
  archive/workflows/notify-sdk-repos.yml
  archive/workflows/protobuf-generation.yml
  archive/workflows/release-docker.yml
  archive/workflows/release-frontend.yml
  archive/workflows/release-go.yml
  archive/workflows/release-protobuf.yml
  archive/workflows/release-python.yml
  archive/workflows/release-rust.yml
  archive/workflows/release.yml
  archive/workflows/sync-receiver.yml
Labels: type:documentation, tech:python, workflow:automation, automation

ci(bsr): add buf push-to-BSR workflow (tags + manual dispatch)
  .github/workflows/buf-push.yml
Labels: workflow:github-actions, github-actions

ci(bsr): add buf push-to-BSR workflow (tags + manual dispatch)
  .github/workflows/buf-push.yml
Labels: workflow:github-actions, github-actions

docs: rewrite README + buf.gen.yaml note for the protos-only + BSR-pull model
  README.md
  buf.gen.yaml
Labels: type:documentation, tech:protobuf

docs: rewrite README + buf.gen.yaml note for the protos-only + BSR-pull model
  README.md
  buf.gen.yaml
Labels: type:documentation, tech:protobuf

docs(phase-c): add consumer-driven proto audit
  docs/CONSUMER_PROTO_AUDIT.md
Labels: type:documentation

ci(proto): enforce buf format gate, except go_package from breaking
  .github/workflows/ci.yml
  buf.yaml
Labels: tech:protobuf, workflow:github-actions, github-actions

ci(proto): enforce buf format gate, except go_package from breaking
  .github/workflows/ci.yml
  buf.yaml
Labels: tech:protobuf, workflow:github-actions, github-actions

docs(phase-c): add consumer-driven proto audit
  docs/CONSUMER_PROTO_AUDIT.md
Labels: type:documentation

fix(bsr): add --create so buf push provisions the module
  .github/workflows/buf-push.yml
Labels: workflow:github-actions, github-actions

feat(queuepb): give workflows a typed step DAG
  queuepb/v2/start_workflow_request.proto
  queuepb/v2/workflow.proto
  queuepb/v2/workflow_step.proto
Labels: tech:protobuf, project:protobuf-implementation

feat(queuepb): give workflows a typed step DAG
  queuepb/v2/start_workflow_request.proto
  queuepb/v2/workflow.proto
  queuepb/v2/workflow_step.proto
Labels: tech:protobuf, project:protobuf-implementation

fix(queuepb): remove unused validate import (breaks CI buf lint)
  queuepb/v2/start_workflow_request.proto
Labels: tech:protobuf, project:protobuf-implementation

fix(queuepb): remove unused validate import (breaks CI buf lint)
  queuepb/v2/start_workflow_request.proto
Labels: tech:protobuf, project:protobuf-implementation

docs(audit): record proto-gap status — queuepb fixed, webpb deferred, residuals done
  docs/CONSUMER_PROTO_AUDIT.md
Labels: type:documentation

docs(audit): record proto-gap status — queuepb fixed, webpb deferred, residuals done
  docs/CONSUMER_PROTO_AUDIT.md
Labels: type:documentation

docs: add PROJECT_STATUS.md resume guide + README pointer
  README.md
  docs/PROJECT_STATUS.md
Labels: type:documentation

docs: add PROJECT_STATUS.md resume guide + README pointer
  README.md
  docs/PROJECT_STATUS.md
Labels: type:documentation

chore(standards): bump .standards to current and let dependabot keep it there
  .github/dependabot.yml
Labels: none

chore(standards): bump .standards to current and let dependabot keep it there
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.0.1
# guid: 3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f
#
# Standardized Pull Request Labeler Configuration for gcommon repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix

# TYPE LABELS
type:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"

type:testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*test*"
          - "test/**"
          - "**/test_*"
          - "**/*_test.go"
          - "validate_protobuf_coverage.py"

type:maintenance:
  - changed-files:
      - any-glob-to-any-file:
          - ".gitignore"
          - "go.mod"
          - "go.sum"
          - "Makefile"
          - "*.sh"
          - "*.py"

# TECHNOLOGY LABELS
tech:go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

tech:protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "proto/**"
          - "generate.sh"

tech:grpc:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*grpc*"
          - "**/*_grpc.pb.go"
          - "**/grpc/**"

tech:python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "validate_protobuf_coverage.py"
          # removed deprecated docs-automation script

tech:shell:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.sh"
          - "**/*.bash"
          - "scripts/**"
          - "generate.sh"
          - "quick_status_check.sh"

# MODULE LABELS (gcommon-specific modules)
module:auth:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/auth/**"
          - "proto/auth/**"
          - "**/auth*"

module:cache:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/cache/**"
          - "proto/cache/**"
          - "**/cache*"

module:config:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/config/**"
          - "proto/config/**"
          - "config/**"
          - "**/config*"

module:database:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/database/**"
          - "proto/database/**"
          - "**/database*"

module:metrics:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/metrics/**"
          - "proto/metrics/**"
          - "**/metrics*"

module:queue:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/queue/**"
          - "proto/queue/**"
          - "**/queue*"

module:web:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/web/**"
          - "proto/web/**"
          - "**/web*"

# PROJECT-SPECIFIC LABELS
project:gcommon-refactor:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*refactor*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"
          - "empty_protos.txt"
          - "non_empty_protos.txt"

gcommon-refactor:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*refactor*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"
          - "empty_protos.txt"
          - "non_empty_protos.txt"

project:protobuf-implementation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "validate_protobuf_coverage.py"
          - "quick_status_check.sh"
          - "generate.sh"

# WORKFLOW LABELS
workflow:github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

workflow:automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

# SIZE LABELS (File count-based sizing not supported in labeler v5)
# Note: Size labels based on changed file counts are not supported in labeler v5+
# Alternative: Use GitHub's built-in PR size detection or manual labeling

# AI/AUTOMATION LABELS
codex:
  - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]
