Repository jdfalk/gcommon-proto, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, go, protobuf, config, scripts, tests, dependencies

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.0.0
# guid: f6a7b8c9-d0e1-42f3-a4b5-c6d7e8f9a0b1
#
# Pull Request Labeler Configuration for gcommon repository
# Automatically label pull requests based on changed files or branch names

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "CHANGELOG.md"
          - "TODO.md"
          - "docs/**"
          - "**/*.md"

# Go backend changes
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

# Protobuf changes (gcommon specific)
protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "proto/**"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "*.yaml"
          - "*.yml"
          - "*.json"
          - "*.toml"
          - ".gitignore"
          - ".env*"
          - "Makefile"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"
          - "validate_protobuf_coverage.py"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "test/**"
          - "tests/**"

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"

# Feature branches
feature:
  - head-branch:
      - any-glob-to-any-file: ["feature/*", "feat/*"]

# Bug fix branches
bugfix:
  - head-branch:
      - any-glob-to-any-file: ["fix/*", "bugfix/*", "hotfix/*"]

# Breaking changes
breaking-change:
  - head-branch:
      - any-glob-to-any-file: ["breaking/*"]

chore: update CI permissions and enable dependency submission
  .github/workflows/ci.yml
Labels: none

chore: update CI permissions for repository projects
  .github/workflows/ci.yml
Labels: none

chore: update CI permissions for packages and attestations
  .github/workflows/ci.yml
Labels: none

chore: replace GPL with MIT License in LICENSE file
  LICENSE
Labels: none

chore: inherit secrets in pull request labeler workflow
  .github/workflows/pr-labeler.yml
Labels: none

chore: add devcontainer and post-create script for Go/Protobuf development setup
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Labels: scripts

chore: update devcontainer configuration and post-create script permissions
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Labels: scripts

chore: update permissions for pull request labeler workflow
  .github/workflows/pr-labeler.yml
Labels: none

chore: add enhanced documentation update script
  scripts/create-doc-update.sh
Labels: scripts

chore: add documentation update workflow
  .github/workflows/docs-update.yml
Labels: none

chore: update whitespace in docs-update.yml
  .github/workflows/docs-update.yml
Labels: none

chore: update permissions in workflows for issue and project management
  .github/instructions/general-coding.instructions.md
  .github/workflows/docs-update.yml
  .github/workflows/issue-management.yml
Labels: documentation

chore: update documentation structure and guidelines across multiple files
  .github/AGENTS.md
  .github/CLAUDE.md
  .github/commit-messages.md
  .github/copilot-instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/pull-request-descriptions.md
  AGENTS.md
Labels: documentation

docs: add README.md with Copilot/AI agent coding instructions
  .github/README.md
Labels: documentation

docs: update general coding instructions to include TOML file header format
  .github/instructions/general-coding.instructions.md
  .github/workflows/initial-sync-copilot.yml
  .github/workflows/sync-shared-files.yml
Labels: documentation

chore: update permissions in CI workflow for auto-committing fixes and status updates
  .github/workflows/ci.yml
Labels: none

chore: add permissions for commit status updates in issue management workflow
  .github/workflows/issue-management.yml
Labels: none

fix(proto): align package names
  pkg/auth/mock/AuthServiceClient_mock.go
  pkg/auth/mock/AuthServiceServer_mock.go
  pkg/auth/proto/proto.go
  pkg/cache/mock/CacheServiceClient_mock.go
  pkg/cache/mock/CacheServiceServer_mock.go
  pkg/cache/proto/proto.go
  pkg/common/proto/proto.go
  pkg/config/mock/ConfigServiceClient_mock.go
  pkg/config/mock/ConfigServiceServer_mock.go
  pkg/config/proto/proto.go
  pkg/db/mock/DatabaseServiceClient_mock.go
  pkg/db/mock/DatabaseServiceServer_mock.go
  pkg/db/proto/proto.go
  pkg/health/mock/HealthServiceClient_mock.go
  pkg/health/mock/HealthServiceServer_mock.go
  pkg/health/proto/health.pb.go
  pkg/health/proto/health_protoopaque.pb.go
  pkg/health/proto/proto.go
  pkg/log/mock/LogServiceClient_mock.go
  pkg/log/mock/LogServiceServer_mock.go
  pkg/log/proto/proto.go
  pkg/metrics/mock/MetricsServiceClient_mock.go
  pkg/metrics/mock/MetricsServiceServer_mock.go
  pkg/metrics/proto/proto.go
  pkg/notification/proto/proto.go
  pkg/queue/mock/QueueServiceClient_mock.go
  pkg/queue/mock/QueueServiceServer_mock.go
  pkg/queue/proto/proto.go
  pkg/web/mock/WebServiceClient_mock.go
  pkg/web/mock/WebServiceServer_mock.go
  pkg/web/proto/proto.go
Labels: go

feat: add GitHub Actions workflow to manage issues and PRs in projects
  .github/workflows/add-to-project.yml
Labels: none

fix(proto): align package names
  pkg/auth/mock/AuthServiceClient_mock.go
  pkg/auth/mock/AuthServiceServer_mock.go
  pkg/auth/proto/proto.go
  pkg/cache/mock/CacheServiceClient_mock.go
  pkg/cache/mock/CacheServiceServer_mock.go
  pkg/cache/proto/proto.go
  pkg/common/proto/proto.go
  pkg/config/mock/ConfigServiceClient_mock.go
  pkg/config/mock/ConfigServiceServer_mock.go
  pkg/config/proto/proto.go
  pkg/db/mock/DatabaseServiceClient_mock.go
  pkg/db/mock/DatabaseServiceServer_mock.go
  pkg/db/proto/proto.go
  pkg/health/mock/HealthServiceClient_mock.go
  pkg/health/mock/HealthServiceServer_mock.go
  pkg/health/proto/health.pb.go
  pkg/health/proto/health_protoopaque.pb.go
  pkg/health/proto/proto.go
  pkg/log/mock/LogServiceClient_mock.go
  pkg/log/mock/LogServiceServer_mock.go
  pkg/log/proto/proto.go
  pkg/metrics/mock/MetricsServiceClient_mock.go
  pkg/metrics/mock/MetricsServiceServer_mock.go
  pkg/metrics/proto/proto.go
  pkg/notification/proto/proto.go
  pkg/queue/mock/QueueServiceClient_mock.go
  pkg/queue/mock/QueueServiceServer_mock.go
  pkg/queue/proto/proto.go
  pkg/web/mock/WebServiceClient_mock.go
  pkg/web/mock/WebServiceServer_mock.go
  pkg/web/proto/proto.go
Labels: go

feat: improve project setup script
  .github/doc-updates/8208a5bd-e794-4be0-bd3f-9ebbc3704ece.json
  .github/doc-updates/ba580e0f-73f1-4673-a6ba-4f6be7872bd6.json
  .github/doc-updates/c4dec300-49d9-4d19-a6a4-7dca3923b5c7.json
  .github/doc-updates/e4c1134e-03ce-41b7-9031-5d96f425667d.json
  scripts/setup-github-projects.sh
Labels: scripts

feat: improve project setup script
  .github/doc-updates/8208a5bd-e794-4be0-bd3f-9ebbc3704ece.json
  .github/doc-updates/ba580e0f-73f1-4673-a6ba-4f6be7872bd6.json
  .github/doc-updates/c4dec300-49d9-4d19-a6a4-7dca3923b5c7.json
  .github/doc-updates/e4c1134e-03ce-41b7-9031-5d96f425667d.json
  scripts/setup-github-projects.sh
Labels: scripts

fix(setup): ensure required tools are checked before project setup
  scripts/setup-github-projects.sh
Labels: scripts

chore(ci): remove custom project automation
  .github/doc-updates/01b4b050-1748-40f0-a838-082c98f3dcb7.json
  .github/doc-updates/a6f21f29-2f1a-4065-b4a6-e4a1bda3ffa1.json
  .github/doc-updates/b090e182-1707-49e2-a68d-1541c99b89fb.json
  .github/workflows/add-to-project.yml
Labels: none

chore(ci): remove custom project automation
  .github/doc-updates/01b4b050-1748-40f0-a838-082c98f3dcb7.json
  .github/doc-updates/a6f21f29-2f1a-4065-b4a6-e4a1bda3ffa1.json
  .github/doc-updates/b090e182-1707-49e2-a68d-1541c99b89fb.json
  .github/workflows/add-to-project.yml
Labels: none

chore: remove setup script for GitHub projects
  scripts/setup-github-projects.sh
Labels: scripts

feat: add GitHub Actions workflow for fixing merge conflicts
  .github/workflows/fix-merge-conflicts.yml
Labels: none

docs: update pull request description guidelines to version 3.0.0
  .github/pull-request-descriptions.md
Labels: documentation

chore: remove GitHub Project Manager script due to deprecation
  scripts/github_project_manager.py
Labels: scripts

feat(docs): update commit message guidelines and add migration notice (#456)
  .github/commit-messages.md
  README.md
  scripts/MIGRATION-NOTICE.md
Labels: documentation, scripts

chore(workflow): update permissions in fix-merge-conflicts.yml (#456)
  .github/workflows/fix-merge-conflicts.yml
Labels: none

docs(prompts): add AI rebase system prompt file (#456)
  .github/prompts/ai-rebase-system.prompt.md
Labels: documentation

docs(commit-messages): update commit message guidelines for clarity
  .github/commit-messages.md
Labels: documentation

Add coding instructions for various languages and general guidelines
  .github/general-coding.instructions.md
  .github/github-actions.instructions.md
  .github/go.instructions.md
  .github/html-css.instructions.md
  .github/javascript.instructions.md
  .github/json.instructions.md
  .github/markdown.instructions.md
  .github/protobuf.instructions.md
  .github/python.instructions.md
  .github/r.instructions.md
  .github/shell.instructions.md
  .github/typescript.instructions.md
Labels: documentation

docs(pr-template): update pull request description guidelines
  .github/pull-request-descriptions.md
Labels: documentation

docs(prompts): update AI rebase system and context files
  .github/prompts/ai-rebase-context.md
  .github/prompts/ai-rebase-system.prompt.md
Labels: documentation

docs(commit-messages): update commit message guidelines for clarity
  .github/commit-messages.md
Labels: documentation

docs(commit-messages): update commit message guidelines for file documentation
  .github/commit-messages.md
Labels: documentation
