Repository jdfalk/gcommon-proto, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:go, tech:protobuf, tech:grpc, tech:python, tech:shell, module:auth, module:cache, module:config, module:database, module:metrics, module:queue, module:web, project:gcommon-refactor, gcommon-refactor, project:protobuf-implementation, workflow:github-actions, github-actions, workflow:automation, automation

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.0.1
# guid: 3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f
#
# Standardized Pull Request Labeler Configuration for gcommon repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix

# TYPE LABELS
type:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"

type:testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*test*"
          - "test/**"
          - "**/test_*"
          - "**/*_test.go"
          - "validate_protobuf_coverage.py"

type:maintenance:
  - changed-files:
      - any-glob-to-any-file:
          - ".gitignore"
          - "go.mod"
          - "go.sum"
          - "Makefile"
          - "*.sh"
          - "*.py"

# TECHNOLOGY LABELS
tech:go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

tech:protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "proto/**"
          - "generate.sh"

tech:grpc:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*grpc*"
          - "**/*_grpc.pb.go"
          - "**/grpc/**"

tech:python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "validate_protobuf_coverage.py"
          # removed deprecated docs-automation script

tech:shell:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.sh"
          - "**/*.bash"
          - "scripts/**"
          - "generate.sh"
          - "quick_status_check.sh"

# MODULE LABELS (gcommon-specific modules)
module:auth:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/auth/**"
          - "proto/auth/**"
          - "**/auth*"

module:cache:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/cache/**"
          - "proto/cache/**"
          - "**/cache*"

module:config:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/config/**"
          - "proto/config/**"
          - "config/**"
          - "**/config*"

module:database:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/database/**"
          - "proto/database/**"
          - "**/database*"

module:metrics:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/metrics/**"
          - "proto/metrics/**"
          - "**/metrics*"

module:queue:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/queue/**"
          - "proto/queue/**"
          - "**/queue*"

module:web:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/web/**"
          - "proto/web/**"
          - "**/web*"

# PROJECT-SPECIFIC LABELS
project:gcommon-refactor:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*refactor*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"
          - "empty_protos.txt"
          - "non_empty_protos.txt"

gcommon-refactor:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*refactor*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"
          - "empty_protos.txt"
          - "non_empty_protos.txt"

project:protobuf-implementation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "validate_protobuf_coverage.py"
          - "quick_status_check.sh"
          - "generate.sh"

# WORKFLOW LABELS
workflow:github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

workflow:automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

# SIZE LABELS (File count-based sizing not supported in labeler v5)
# Note: Size labels based on changed file counts are not supported in labeler v5+
# Alternative: Use GitHub's built-in PR size detection or manual labeling

# AI/AUTOMATION LABELS
codex:
  - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]

chore: update protoc-gen-go version to v1.36.9
  sdks/go/v1/common/ack_level.pb.go
Labels: tech:go

Remove unnecessary blank line in web_services.md
  proto-docs/README.md
  proto-docs/common_enums.md
  proto-docs/common_messages.md
  proto-docs/common_services.md
  proto-docs/config_messages.md
  proto-docs/config_services.md
  proto-docs/database_messages.md
  proto-docs/database_services.md
  proto-docs/health_enums.md
  proto-docs/health_messages.md
  proto-docs/health_services.md
  proto-docs/media_messages.md
  proto-docs/media_services.md
  proto-docs/metrics_messages.md
  proto-docs/metrics_services.md
  proto-docs/organization_messages.md
  proto-docs/organization_services.md
  proto-docs/queue_messages.md
  proto-docs/queue_services.md
  proto-docs/web_messages.md
  proto-docs/web_services.md
Labels: type:documentation, module:config, module:database, module:metrics, module:queue, module:web

chore: update go.mod version to 1.2.1 and add sdks/go/go.mod with dependencies
  go.mod
  sdks/go/go.mod
  sdks/go/go.sum
Labels: type:maintenance, tech:go

fix(protobuf): resolve all import dependencies and syntax errors for successful buf generate
  .github/workflows/protobuf-generation.yml
Labels: workflow:github-actions, github-actions

feat(ci): implement comprehensive protobuf generation and autoversioning workflows
  .github/workflows/protobuf-generation.yml
Labels: workflow:github-actions, github-actions

feat(template): scaffold minimal public-safe template repository with essential files and CI workflows
  GRAND_PROPOSAL.md
  _tmp_template_repo_test/.github/CODEOWNERS
  _tmp_template_repo_test/.github/ISSUE_TEMPLATE/bug_report.md
  _tmp_template_repo_test/.github/ISSUE_TEMPLATE/feature_request.md
  _tmp_template_repo_test/.github/pull_request_template.md
  _tmp_template_repo_test/.github/workflows/ci.yml
  _tmp_template_repo_test/.gitignore
  _tmp_template_repo_test/CODE_OF_CONDUCT.md
  _tmp_template_repo_test/CONTRIBUTING.md
  _tmp_template_repo_test/LICENSE
  _tmp_template_repo_test/README.md
  _tmp_template_repo_test/SECURITY.md
  scripts/template_repo/README.md
  scripts/template_repo/push_with_gh.py
  scripts/template_repo/scaffold_template_repo.py
  scripts/template_repo/validate_template_repo.py
Labels: type:documentation, tech:python, tech:shell, workflow:automation, automation

feat(templates): overlays, dynamic CI, dependabot/releases; bump scaffolder to v1.3.0
  scripts/template_repo/scaffold_template_repo.py
Labels: tech:python, tech:shell, workflow:automation, automation

feat(ci): update Go and Python versions in CI workflows to 1.24.x and 3.13 respectively
  .github/workflows/ci.yml
  .github/workflows/protobuf-generation.yml
  .github/workflows/release-protobuf.yml
Labels: workflow:github-actions, github-actions

feat(.gitignore): add temporary template scaffold exclusions
  .gitignore
Labels: type:maintenance

feat(workflows): update Python and Go versions to 3.13 and 1.24 respectively across all workflows
  .github/WORKFLOW_CONFIG_GUIDE.md
  .github/scripts/detect-build-matrix.py
  .github/scripts/detect_languages.py
  .github/workflow-config.yaml
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-automation.yml
  .github/workflows/proto-docs.yml
  .github/workflows/protobuf-generation.yml
  .github/workflows/release-protobuf.yml
  .github/workflows/security.yml
  .github/workflows/unified-automation.yml
Labels: type:documentation, tech:python, workflow:github-actions, github-actions, workflow:automation, automation

feat(instructions): update version to 2.1.0 and add critical note on versioning for file headers
  .github/instructions/general-coding.instructions.md
Labels: type:documentation

chore: remove obsolete templates and documentation files
  _tmp_template_repo_test/.github/CODEOWNERS
  _tmp_template_repo_test/.github/ISSUE_TEMPLATE/bug_report.md
  _tmp_template_repo_test/.github/ISSUE_TEMPLATE/feature_request.md
  _tmp_template_repo_test/.github/pull_request_template.md
  _tmp_template_repo_test/.github/workflows/ci.yml
  _tmp_template_repo_test/.gitignore
  _tmp_template_repo_test/CODE_OF_CONDUCT.md
  _tmp_template_repo_test/CONTRIBUTING.md
  _tmp_template_repo_test/LICENSE
  _tmp_template_repo_test/README.md
  _tmp_template_repo_test/SECURITY.md
Labels: type:documentation

chore: remove deprecated template repository scripts and validation tool
  scripts/template_repo/README.md
  scripts/template_repo/push_with_gh.py
  scripts/template_repo/scaffold_template_repo.py
  scripts/template_repo/validate_template_repo.py
Labels: type:documentation, tech:python, tech:shell, workflow:automation, automation

chore: remove unnecessary metadata from Super-Linter PR configuration
  .github/linters/super-linter-pr.env
Labels: none

feat(workflows): enhance protobuf generation with version bump inputs and force generation option
  .github/workflows/pr-automation.yml
  .github/workflows/protobuf-generation.yml
Labels: workflow:github-actions, github-actions

fix: systematic protobuf import fixes
  .github/workflows/ci.yml
Labels: workflow:github-actions, github-actions

chore: remove obsolete CI workflow configuration
  .github/workflows/ci.yml
Labels: workflow:github-actions, github-actions

fix(workflows): remove GITHUB_TOKEN from workflow_call secrets
  .github/workflows/protobuf-generation.yml
Labels: workflow:github-actions, github-actions

feat(architecture): transition to distributed protocol buffer architecture
  buf.gen.yaml
  compatibility-matrix.md
  scripts/REPOSITORY_AUTOMATION.md
  scripts/create_gcommon_repos.py
  scripts/version_sync_manager.py
Labels: type:documentation, tech:protobuf, tech:python, tech:shell, workflow:automation, automation

feat(proto): regenerate protocol buffers and Go SDKs
  proto-docs/README.md
  proto-docs/config_messages.md
  proto-docs/database_messages.md
  proto-docs/health_messages.md
  proto-docs/media_messages.md
  proto-docs/metrics_messages.md
  proto-docs/organization_messages.md
  proto-docs/queue_messages.md
  proto-docs/web_messages.md
  protoc-32.1-linux-x86_64.zip
Labels: type:documentation, module:config, module:database, module:metrics, module:queue, module:web

chore: remove package.json file and update repository automation scripts
  .commitlintrc.js
  .prettierignore
  .prettierrc
  buf.gen.yaml
  go.mod
  go.sum
  package.json
  scripts/REPOSITORY_AUTOMATION.md
  scripts/create_gcommon_repos.py
  scripts/version_sync_manager.py
Labels: type:documentation, type:maintenance, tech:go, tech:protobuf, tech:python, tech:shell, workflow:automation, automation

chore: remove deprecated SDK alert dismissal scripts and setup scripts
  scripts/dismiss-sdk-alerts.sh
  scripts/dismiss_sdk_unused_import_alerts.py
  scripts/setup-go-modules.py
  scripts/setup-python-sdk.py
Labels: tech:python, tech:shell, workflow:automation, automation

feat(ci): implement reusable workflow integration and repository restructuring
  .github/workflows/ci.yml
  .github/workflows/notify-sdk-repos.yml
  Makefile
Labels: type:maintenance, workflow:github-actions, github-actions

chore: standardize branch naming and formatting in CI workflows
  .github/workflows/ci.yml
  .github/workflows/notify-sdk-repos.yml
Labels: workflow:github-actions, github-actions

chore: reorganize the repo structure - health
  health/v1/check_config.proto
  health/v1/check_registry.proto
  health/v1/check_type.proto
  health/v1/component_health.proto
  health/v1/dependency_check.proto
  health/v1/dependency_check_request.proto
  health/v1/dependency_check_response.proto
  health/v1/dependency_result.proto
  health/v1/health_check.proto
  health/v1/health_check_request.proto
  health/v1/health_check_response.proto
  health/v1/health_check_service.proto
  health/v1/health_event.proto
  health/v1/health_metrics.proto
  health/v1/health_result.proto
  health/v1/health_service.proto
  health/v1/health_status.proto
  health/v1/list_checks_request.proto
  health/v1/list_checks_response.proto
  health/v1/liveness_check.proto
  health/v1/liveness_check_request.proto
  health/v1/liveness_check_response.proto
  health/v1/liveness_result.proto
  health/v1/readiness_check.proto
  health/v1/readiness_check_request.proto
  health/v1/readiness_check_response.proto
  health/v1/readiness_result.proto
  health/v1/register_check_request.proto
  health/v1/register_check_response.proto
  health/v1/resource_usage.proto
  health/v1/service_info.proto
  health/v1/system_metrics.proto
  health/v1/unregister_check_request.proto
  health/v1/unregister_check_response.proto
  health/v1/watch_health_request.proto
  health/v1/watch_health_response.proto
Labels: tech:protobuf, project:protobuf-implementation

chore: update module path in buf.yaml to current directory
  buf.yaml
Labels: tech:protobuf

chore: update dependencies in buf.lock to latest versions
  buf.lock
Labels: none

docs(readme): modernize README for BSR-focused repository
  README.md
  README_old.md
  check_proto_structure.py
Labels: type:documentation, type:maintenance, tech:python, workflow:automation, automation

docs(readme): improve table formatting in module overview
  README.md
Labels: type:documentation

refactor: update proto references from v1 to v2 in approval_workflow, compliance_settings, monitoring_settings, usage_statistics, and value_usage_statistics
  config/v2/approval_workflow.proto
  config/v2/compliance_settings.proto
  config/v2/monitoring_settings.proto
  config/v2/usage_statistics.proto
  config/v2/value_usage_statistics.proto
Labels: tech:protobuf, module:config, project:protobuf-implementation

chore: update version numbers and repository references in workflow and version sync manager
  .github/workflows/notify-sdk-repos.yml
  scripts/version_sync_manager.py
Labels: tech:python, tech:shell, workflow:github-actions, github-actions, workflow:automation, automation

feat: add script to update go_package declarations to pb-suffixed packages
  scripts/update_go_packages_to_pb.py
Labels: tech:python, tech:shell, workflow:automation, automation

feat: add comprehensive tag update automation script
  scripts/update_all_tags.sh
Labels: tech:shell, workflow:automation, automation

feat: remove obsolete script for renaming directories to pb-suffixed structure
  scripts/rename_directories_to_pb.py
Labels: tech:python, tech:shell, workflow:automation, automation

fix(imports): streamline import fixing logic and enhance error handling
  scripts/fix_imports_after_directory_rename.py
Labels: tech:python, tech:shell, workflow:automation, automation

feat(auth): add proto files for authorization and token management
  authpb/v1/authorize_request.proto
  authpb/v1/authorize_response.proto
  authpb/v1/generate_token_request.proto
  authpb/v1/generate_token_response.proto
  authpb/v1/login_request.proto
  authpb/v1/login_response.proto
  authpb/v1/refresh_token_request.proto
  authpb/v1/refresh_token_response.proto
  authpb/v1/revoke_token_request.proto
  authpb/v1/revoke_token_response.proto
  authpb/v1/validate_token_request.proto
  authpb/v1/validate_token_response.proto
Labels: tech:protobuf, module:auth, project:protobuf-implementation

fix(proto): remove unnecessary blank lines in proto files
  authpb/v1/authorize_request.proto
  authpb/v1/authorize_response.proto
  authpb/v1/generate_token_request.proto
  authpb/v1/generate_token_response.proto
  authpb/v1/login_request.proto
  authpb/v1/login_response.proto
  authpb/v1/refresh_token_request.proto
  authpb/v1/refresh_token_response.proto
  authpb/v1/revoke_token_request.proto
  authpb/v1/revoke_token_response.proto
  authpb/v1/validate_token_request.proto
  authpb/v1/validate_token_response.proto
Labels: tech:protobuf, module:auth, project:protobuf-implementation

feat(auth): implement AuthService for JWT authentication and authorization
  authpb/v1/auth_service.proto
Labels: tech:protobuf, module:auth, project:protobuf-implementation

refactor(scripts): remove update_go_packages_to_pb.py script
  scripts/update_go_packages_to_pb.py
Labels: tech:python, tech:shell, workflow:automation, automation

refactor(tasks): format command arguments for consistency and readability; add version sync manager tasks
  .vscode/tasks.json
  requirements.txt
  scripts/version_sync_manager.py
Labels: tech:python, tech:shell, workflow:automation, automation
