Repository jdfalk/gcommon-proto, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:go, tech:protobuf, tech:grpc, tech:python, tech:shell, module:auth, module:cache, module:config, module:database, module:metrics, module:queue, module:web, project:gcommon-refactor, gcommon-refactor, project:protobuf-implementation, workflow:github-actions, github-actions, workflow:automation, automation

fix(version_sync_manager): update version to 3.0.1 and enhance repository update process with detailed logging
  scripts/version_sync_manager.py
Labels: tech:python, tech:shell, workflow:automation, automation

fix(version_sync_manager): update related repository references for clarity in output messages
  scripts/version_sync_manager.py
Labels: tech:python, tech:shell, workflow:automation, automation

fix(tasks): update command paths for Version Sync Manager tasks to use the script directly
  .vscode/tasks.json
Labels: none

feat(auth): implement AuthService with JWT authentication and authorization methods
  authpb/v2/auth_service.proto
  authpb/v2/authorize_request.proto
  authpb/v2/authorize_response.proto
  authpb/v2/generate_token_request.proto
  authpb/v2/generate_token_response.proto
  authpb/v2/login_request.proto
  authpb/v2/login_response.proto
  authpb/v2/refresh_token_request.proto
  authpb/v2/refresh_token_response.proto
  authpb/v2/revoke_token_request.proto
  authpb/v2/revoke_token_response.proto
  authpb/v2/validate_token_request.proto
  authpb/v2/validate_token_response.proto
Labels: tech:protobuf, module:auth, project:protobuf-implementation

feat(auth): Update AuthService to support API key and OAuth2 authentication methods
  authpb/v2/api_key_auth_request.proto
  authpb/v2/api_key_auth_response.proto
  authpb/v2/auth_service.proto
  authpb/v2/auth_status.proto
  authpb/v2/change_password_request.proto
  authpb/v2/change_password_response.proto
  authpb/v2/create_api_key_request.proto
  authpb/v2/create_api_key_response.proto
  authpb/v2/extend_session_request.proto
  authpb/v2/extend_session_response.proto
  authpb/v2/list_api_keys_request.proto
  authpb/v2/list_api_keys_response.proto
  authpb/v2/list_sessions_request.proto
  authpb/v2/list_sessions_response.proto
  authpb/v2/oauth_callback_request.proto
  authpb/v2/oauth_callback_response.proto
  authpb/v2/oauth_config_request.proto
  authpb/v2/oauth_config_response.proto
  authpb/v2/oauth_initiate_request.proto
  authpb/v2/oauth_initiate_response.proto
  authpb/v2/revoke_api_key_request.proto
  authpb/v2/revoke_api_key_response.proto
  authpb/v2/session_info_request.proto
  authpb/v2/session_info_response.proto
  authpb/v2/update_profile_request.proto
  authpb/v2/update_profile_response.proto
  authpb/v2/user_profile_request.proto
  authpb/v2/user_profile_response.proto
Labels: tech:protobuf, module:auth, project:protobuf-implementation

refactor(auth): update proto files to use new features and improve structure
  authpb/v2/api_key_auth_request.proto
  authpb/v2/api_key_auth_response.proto
  authpb/v2/auth_service.proto
  authpb/v2/auth_status.proto
  authpb/v2/change_password_request.proto
  authpb/v2/change_password_response.proto
  authpb/v2/create_api_key_request.proto
  authpb/v2/create_api_key_response.proto
  authpb/v2/extend_session_request.proto
  authpb/v2/extend_session_response.proto
  authpb/v2/list_api_keys_request.proto
  authpb/v2/list_api_keys_response.proto
  authpb/v2/list_sessions_request.proto
  authpb/v2/list_sessions_response.proto
  authpb/v2/oauth_callback_request.proto
  authpb/v2/oauth_callback_response.proto
  authpb/v2/oauth_config_request.proto
  authpb/v2/oauth_config_response.proto
  authpb/v2/oauth_initiate_request.proto
  authpb/v2/oauth_initiate_response.proto
  authpb/v2/revoke_api_key_request.proto
  authpb/v2/revoke_api_key_response.proto
  authpb/v2/session_info_request.proto
  authpb/v2/session_info_response.proto
  authpb/v2/update_profile_request.proto
  authpb/v2/update_profile_response.proto
  authpb/v2/user_profile_request.proto
  authpb/v2/user_profile_response.proto
Labels: tech:protobuf, module:auth, project:protobuf-implementation

refactor(auth): simplify UpdateProfileRequest and ProfileData messages by removing redundant fields
  authpb/v2/update_profile_request.proto
Labels: tech:protobuf, project:protobuf-implementation

feat(versioning): add method to get next available version and improve tag handling
  Makefile
  scripts/version_sync_manager.py
Labels: type:maintenance, tech:python, tech:shell, workflow:automation, automation

refactor(version_sync_manager): clean up whitespace in version handling logic
  scripts/version_sync_manager.py
Labels: tech:python, tech:shell, workflow:automation, automation

refactor(version_sync_manager): improve code formatting and organization for better readability
  scripts/version_sync_manager.py
Labels: tech:python, tech:shell, workflow:automation, automation

feat(release): enhance release workflow with version management and changelog generation
  .github/workflows/release-go.yml
  .github/workflows/release.yml
Labels: workflow:github-actions, github-actions

feat(release): integrate protobuf generation into release workflow and update build status summary
  .github/workflows/release-protobuf.yml
  .github/workflows/release.yml
Labels: workflow:github-actions, github-actions

refactor(release): update protobuf generation logic and ensure dependencies are correctly set for all build jobs
  .github/workflows/release.yml
Labels: workflow:github-actions, github-actions

feat(release): add artifact packaging and organization for GitHub release
  .github/workflows/release.yml
Labels: workflow:github-actions, github-actions

fix(docs): correct comment formatting in workflow configuration guide and scripts README
  .github/WORKFLOW_CONFIG_GUIDE.md
  scripts/README.md
Labels: type:documentation, tech:shell, workflow:automation, automation

docs(instructions): add safe-ai-util.instructions.md
  .github/instructions/safe-ai-util.instructions.md
Labels: type:documentation

docs(instructions): amend git policy hierarchy and add subagent guidance
  .github/copilot-instructions.md
Labels: type:documentation

refactor(tasks): remove obsolete Git-related tasks from VSCode configuration
  .vscode/tasks.json
Labels: none

feat(agent): add merge conflict resolution agent documentation
  .github/prompts/merge-conflict-resolution.agent.md
Labels: type:documentation

feat(github): sync agent prompts and instruction files to canonical versions
  .github/instructions/general-coding.instructions.md
  .github/prompts/ai-architecture.prompt.md
  .github/prompts/ai-changelog.prompt.md
  .github/prompts/ai-contribution.prompt.md
  .github/prompts/ai-issue-triage.prompt.md
  .github/prompts/ai-migration.prompt.md
  .github/prompts/ai-rebase-context.md
  .github/prompts/ai-rebase-context.template.md
  .github/prompts/ai-rebase-system.prompt.md
  .github/prompts/ai-refactor.prompt.md
  .github/prompts/ai-release-notes.prompt.md
  .github/prompts/ai-roadmap.prompt.md
  .github/prompts/bug-report.prompt.md
  .github/prompts/code-review.prompt.md
  .github/prompts/commit-message.prompt.md
  .github/prompts/documentation.prompt.md
  .github/prompts/feature-request.prompt.md
  .github/prompts/merge-conflict-resolution.agent.md
  .github/prompts/onboarding.prompt.md
  .github/prompts/pull-request.prompt.md
  .github/prompts/security-review.prompt.md
  .github/prompts/test-generation.prompt.md
Labels: type:documentation, type:testing, project:gcommon-refactor, gcommon-refactor

chore(sync): sync .github structure from ghcommon
  .github/agents/CI Workflow Doctor.agent.md
  .github/agents/Cross-Repo Sync Manager.agent.md
  .github/agents/Dependency Auditor.agent.md
  .github/agents/Documentation Curator.agent.md
  .github/agents/Git Hygiene Guardian.agent.md
  .github/agents/Go Static Analyzer.agent.md
  .github/agents/Lint & Format Conductor.agent.md
  .github/agents/Migration Planner.agent.md
  .github/agents/Performance Micro-Bencher.agent.md
  .github/agents/Protobuf Builder.agent.md
  .github/agents/Protobuf Cycle Resolver.agent.md
  .github/agents/Python Static Analyzer.agent.md
  .github/agents/Release & Version Steward.agent.md
  .github/agents/Rust Static Analyzer.agent.md
  .github/agents/Security Scanner Coordinator.agent.md
  .github/agents/Shell Workflow Assistant.agent.md
  .github/agents/Test Orchestrator.agent.md
  .github/agents/merge-conflict-resolution.agent.md
  .github/copilot-instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/typescript.instructions.md
  .github/linters/.markdownlint.json
  .github/linters/.python-black
  .github/linters/ruff.toml
  .github/prompts/commit-message.prompt.md
  .github/prompts/pull-request.prompt.md
  AGENTS.md
  CLAUDE.md
Labels: type:documentation

chore(sync): sync .github structure from ghcommon
  .github/agents/CI Workflow Doctor.agent.md
  .github/agents/Cross-Repo Sync Manager.agent.md
  .github/agents/Dependency Auditor.agent.md
  .github/agents/Documentation Curator.agent.md
  .github/agents/Git Hygiene Guardian.agent.md
  .github/agents/Go Static Analyzer.agent.md
  .github/agents/Lint & Format Conductor.agent.md
  .github/agents/Migration Planner.agent.md
  .github/agents/Performance Micro-Bencher.agent.md
  .github/agents/Protobuf Builder.agent.md
  .github/agents/Protobuf Cycle Resolver.agent.md
  .github/agents/Python Static Analyzer.agent.md
  .github/agents/Release & Version Steward.agent.md
  .github/agents/Rust Static Analyzer.agent.md
  .github/agents/Security Scanner Coordinator.agent.md
  .github/agents/Shell Workflow Assistant.agent.md
  .github/agents/Test Orchestrator.agent.md
  .github/agents/merge-conflict-resolution.agent.md
  .github/copilot-instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/typescript.instructions.md
  .github/linters/.markdownlint.json
  .github/linters/.python-black
  .github/linters/ruff.toml
  .github/prompts/commit-message.prompt.md
  .github/prompts/pull-request.prompt.md
  AGENTS.md
  CLAUDE.md
Labels: type:documentation

chore(lint): add GolangCI-Lint configuration file
  .golangci.yml
Labels: none

chore(workflows): update action versions and workflow configurations
  .github/instructions/copilot-instructions.md
  .github/linters/super-linter-ci.env
  .github/linters/super-linter-pr.env
  .github/workflows/auto-assign-projects.yml
  .github/workflows/ci.yml
  .github/workflows/commit-override-handler.yml
  .github/workflows/issue-automation.yml
  .github/workflows/maintenance.yml
  .github/workflows/notify-sdk-repos.yml
  .github/workflows/pr-automation.yml
  .github/workflows/proto-docs.yml
  .github/workflows/protobuf-generation.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-frontend.yml
  .github/workflows/release-go.yml
  .github/workflows/release-protobuf.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/sync-project-status.yml
  .github/workflows/sync-receiver.yml
  .github/workflows/unified-automation.yml
Labels: type:documentation, workflow:github-actions, github-actions

chore(instructions): remove outdated shell, test generation, and TypeScript instructions
  .github/dependabot.yml
  .github/instructions/commit-messages.instructions.md
  .github/instructions/copilot-instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/html-css.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/pull-request-descriptions.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/rust-utility.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/safe-ai-util.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/test-generation.instructions.md
  .github/instructions/typescript.instructions.md
Labels: type:documentation, type:testing

Remove Trivy - compromised supply chain
  .github/agents/Security Scanner Coordinator.agent.md
  .github/scripts/docker-security.py
  .github/security-guidelines.md
  .github/workflows/release-docker.yml
  .github/workflows/security.yml
Labels: type:documentation, tech:python, workflow:github-actions, github-actions, workflow:automation, automation

Remove Trivy - compromised supply chain
  .github/agents/Security Scanner Coordinator.agent.md
  .github/scripts/docker-security.py
  .github/security-guidelines.md
  .github/workflows/release-docker.yml
  .github/workflows/security.yml
Labels: type:documentation, tech:python, workflow:github-actions, github-actions, workflow:automation, automation

chore: update ghcommon workflow refs to v1.10.4
  .github/workflows/ci.yml
Labels: workflow:github-actions, github-actions

chore: update ghcommon workflow refs to v1.10.4
  .github/workflows/ci.yml
Labels: workflow:github-actions, github-actions

chore(gitignore): sync managed ignore block
  .gitignore
Labels: type:maintenance

chore: migrate jdfalk/ refs to falkcorp/ org
  .github/workflows/ci.yml
  .github/workflows/pr-automation.yml
  .github/workflows/protobuf-generation.yml
  .github/workflows/sync-receiver.yml
  CHANGELOG.md
  CONTRIBUTING.md
  COSIGN_VERIFICATION.md
  GRAND_PROPOSAL.md
  README.md
  README_old.md
  buf.yaml
Labels: type:documentation, tech:protobuf, workflow:github-actions, github-actions

chore: migrate jdfalk/ refs to falkcorp/ org
  .github/workflows/ci.yml
  .github/workflows/pr-automation.yml
  .github/workflows/protobuf-generation.yml
  .github/workflows/sync-receiver.yml
  CHANGELOG.md
  CONTRIBUTING.md
  COSIGN_VERIFICATION.md
  GRAND_PROPOSAL.md
  README.md
  README_old.md
  buf.yaml
Labels: type:documentation, tech:protobuf, workflow:github-actions, github-actions

chore(standards): add .standards submodule and centralize AI instructions
  .github/copilot-instructions.md
  .gitmodules
  AGENTS.md
  CLAUDE.md
Labels: type:documentation

chore(standards): add .standards submodule and centralize AI instructions
  .github/copilot-instructions.md
  .gitmodules
  AGENTS.md
  CLAUDE.md
Labels: type:documentation

ci: add submodules: recursive to all actions/checkout steps
  .github/workflows/auto-assign-projects.yml
  .github/workflows/commit-override-handler.yml
  .github/workflows/issue-automation.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-automation.yml
  .github/workflows/proto-docs.yml
  .github/workflows/protobuf-generation.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-frontend.yml
  .github/workflows/release-go.yml
  .github/workflows/release-protobuf.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/sync-receiver.yml
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

ci: add submodules: recursive to all actions/checkout steps
  .github/workflows/auto-assign-projects.yml
  .github/workflows/commit-override-handler.yml
  .github/workflows/issue-automation.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-automation.yml
  .github/workflows/proto-docs.yml
  .github/workflows/protobuf-generation.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-frontend.yml
  .github/workflows/release-go.yml
  .github/workflows/release-protobuf.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/sync-receiver.yml
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

fix(ci): guard branch-sha Docker tag with enable={{is_default_branch}} to fix PR builds
  .github/workflows/release-docker.yml
Labels: workflow:github-actions, github-actions

chore(archive): retire SDK-building machinery for the protos-only + BSR-pull model
  .github/workflow-config.yaml
  archive/README.md
  archive/docs/COSIGN_VERIFICATION.md
  archive/docs/GRAND_PROPOSAL.md
  archive/docs/README_old.md
  archive/docs/REPOSITORY_AUTOMATION.md
  archive/docs/compatibility-matrix.md
  archive/scripts/cleanup_bad_tags.py
  archive/scripts/cleanup_complex_tags.py
  archive/scripts/create-module-tags.py
  archive/scripts/fix_go_tagging.py
  archive/scripts/fix_malformed_tags.py
  archive/scripts/post-buf-generate.py
  archive/scripts/post-tag-hook.py
  archive/scripts/version_sync_manager.py
  archive/tooling/alltags
  archive/tooling/cosign.pub
  archive/tooling/protoc-32.1-linux-x86_64.zip
  archive/workflows/notify-sdk-repos.yml
  archive/workflows/protobuf-generation.yml
  archive/workflows/release-docker.yml
  archive/workflows/release-frontend.yml
  archive/workflows/release-go.yml
  archive/workflows/release-protobuf.yml
  archive/workflows/release-python.yml
  archive/workflows/release-rust.yml
  archive/workflows/release.yml
  archive/workflows/sync-receiver.yml
Labels: type:documentation, tech:python, workflow:automation, automation

ci(proto): replace multi-language CI with minimal buf-native CI
  .github/workflow-config.yaml
  .github/workflows/ci.yml
  .github/workflows/pr-automation.yml
  archive/README.md
  archive/workflows/security.yml
Labels: type:documentation, workflow:github-actions, github-actions

fix(buf): correct breaking rule FIELD_SAME_LABEL -> FIELD_SAME_CARDINALITY
  buf.yaml
Labels: tech:protobuf

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.0.1
# guid: 3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f
#
# Standardized Pull Request Labeler Configuration for gcommon repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix

# TYPE LABELS
type:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"

type:testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*test*"
          - "test/**"
          - "**/test_*"
          - "**/*_test.go"
          - "validate_protobuf_coverage.py"

type:maintenance:
  - changed-files:
      - any-glob-to-any-file:
          - ".gitignore"
          - "go.mod"
          - "go.sum"
          - "Makefile"
          - "*.sh"
          - "*.py"

# TECHNOLOGY LABELS
tech:go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"

tech:protobuf:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "buf.yaml"
          - "buf.gen.yaml"
          - "proto/**"
          - "generate.sh"

tech:grpc:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*grpc*"
          - "**/*_grpc.pb.go"
          - "**/grpc/**"

tech:python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "validate_protobuf_coverage.py"
          # removed deprecated docs-automation script

tech:shell:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.sh"
          - "**/*.bash"
          - "scripts/**"
          - "generate.sh"
          - "quick_status_check.sh"

# MODULE LABELS (gcommon-specific modules)
module:auth:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/auth/**"
          - "proto/auth/**"
          - "**/auth*"

module:cache:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/cache/**"
          - "proto/cache/**"
          - "**/cache*"

module:config:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/config/**"
          - "proto/config/**"
          - "config/**"
          - "**/config*"

module:database:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/database/**"
          - "proto/database/**"
          - "**/database*"

module:metrics:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/metrics/**"
          - "proto/metrics/**"
          - "**/metrics*"

module:queue:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/queue/**"
          - "proto/queue/**"
          - "**/queue*"

module:web:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/web/**"
          - "proto/web/**"
          - "**/web*"

# PROJECT-SPECIFIC LABELS
project:gcommon-refactor:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*refactor*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"
          - "empty_protos.txt"
          - "non_empty_protos.txt"

gcommon-refactor:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*refactor*"
          - "PROTOBUF_IMPLEMENTATION_PLAN.md"
          - "empty_protos.txt"
          - "non_empty_protos.txt"

project:protobuf-implementation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.proto"
          - "validate_protobuf_coverage.py"
          - "quick_status_check.sh"
          - "generate.sh"

# WORKFLOW LABELS
workflow:github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

workflow:automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

# SIZE LABELS (File count-based sizing not supported in labeler v5)
# Note: Size labels based on changed file counts are not supported in labeler v5+
# Alternative: Use GitHub's built-in PR size detection or manual labeling

# AI/AUTOMATION LABELS
codex:
  - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]
